@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    margin: 10px auto;
}
.error {
    color: red;
    font-weight: bold;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;


}
